# Ignore everything by default
*

# Allow only specific files and directories to be committed
!Supplementary_Material_A.qmd
!Supplementary_Material_A.html
!bdot_ethics.Rproj

!data/body_traits.csv
!data/breed.csv
!data/ch.csv
!data/behav.csv
!data/tag_metadata.csv
!data/move.csv
!data/NZL_water_areas_dcw.dbf
!data/NZL_water_areas_dcw.prj
!data/NZL_water_areas_dcw.shx
!data/NZL_water_areas_dcw.shp

!out/smi_results.Rds
!out/breed_results.Rds
!out/breed_pair_results.Rds
!out/survival_results.Rds

!tabs_figs/Figure_3_complete.png

# Ensure that the directories themselves are tracked if empty
!data/
!out/
!tabs_figs/
.Rproj.user
